
<div class="gi-row-100 gi-col-100">
    <div class="gi-row-50 gi-col-50 gi-flex gi-flex-center">
        <button data-file-upload-btn id="file_upload" type="button">BTN</button>
        <input data-file-upload-uuid id="receive_uuid"/>
    </div>
</div>
<script>
  // fileUtil.createFileUpload("file_upload");
  // fileUtil.createFileUpload("file_upload","PATH");
  // fileUtil.createFileUpload("file_upload","PATH","receive_uuid");
  fileUtil.createFileUpload("PATH","receive_uuid","testfolder");

</script>