<article class="gi-article-content gi-col-98 gi-row-90 gi-flex gi-flex-column gi-flex-justify-content-space-evenly">
    <header class="gi-col-5">
        <h1 class="gi-page-title">No Data</h1>
    </header>
    <section class="gi-row-95 gi-col-100 gi-flex gi-flex-column">

    </section>
</article>
<script type="text/javascript">
    init();

    function init(){
        //페이지 초기설정
        new PageInit();

        //초기화
        resetEvent();

        //데이터 조회

        setTimeout(function(){
            //타이틀 설정
            formUtil.setTitle();

            //클릭 이벤트
            clickEvent();
        },500);
    }
</script>

