<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  공통으로 묶어야 하는 부분  -->
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/common/css/common/FormUtility.css">
    <link rel="stylesheet" href="/common/css/common/Common4.css">
    <link rel="stylesheet" href="/common/css/common/api.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/brands.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/regular.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/svg-with-js.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/v4-font-face.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/v4-shims.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/v5-font-face.css">

    <script type="text/javascript" src="/common/js/jquery/jquery3.6.0.js"></script>
    <script type="text/javascript" src="/common/js/common/FormUtility.js"></script>
    <script type="text/javascript" src="/common/js/common/DocumentsForm.js"></script>
    <script type="text/javascript" src="/common/js/common/Common.js"></script>
    <script type="text/javascript" src="/common/js/common/Api.js"></script>
    <script type="text/javascript" src="/common/js/common/CommonTag.js"></script>
    <script type="text/javascript" src="/common/js/common/JwtUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/Message.js"></script>
    <script type="text/javascript" src="/common/js/axios/axios.js"></script>
    <script type="text/javascript" src="/common/js/messageConfig.js"></script>

    <!-- kakao 지도 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=08b7a9bdd253ada6f1d65275b08aec58&libraries=services"></script>

    <!-- kakao 주소검색 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- Quill.js 웹에디터 -->
    <script src="/assets/quill/quill.js"></script>
    <link href="/assets/quill/quill.snow.css" rel="stylesheet">
    <script src="/assets/quill/image-resize.min.js"></script>
</head>
    <body>
        <main class="gi-main2">
            <nav class="gi-side-nav expand">
                <div class="gi-side-nav-toggle-button-area">
                    <span class="gi-side-nav-toggle-button">
                        <i class="gi-cursor-pointer fa-inverse fa-solid fa-angles-left gi-side-nav-toggle-icon"></i>
                    </span>
                </div>
                <div class="gi-row-100 gi-side-nav-logo-area">
                    <a href="" id="gi-logo2" class="gi-side-nav-logo"></a>
                </div>
                <div class="gi-home-setting"></div>
                <!-- 여기에 search, 유저 영역 추가 -->
                <article class="gi-col-auto side-nav-profile-container collapsed">
                    <div class="side-nav-profile-dropdown">
                        <div class="side-nav-profile-trigger">
                            <div class="profile-info-frame">
                                <img id="user-image" class="profile-picture" src="/common/img/userIcon.png" alt="user image"/>
                                <div class="profile-info">
                                    <span class="profile-name"><span id="user-name-span"></span> 님</span>
                                    <span class="profile-name "><span id="office-name-span"></span></span>
                                </div>
                            </div>
                            <span class="profile-name"><i class="fas fa-angle-right gi-margin-5px"></i></span>
                        </div>
                        <div class="dropdown-menu">
                            <a id="myinfo-btn" href="#"><i class="fa-regular fa-user"></i><span>내 정보 수정</span></a>
                            <hr/>
                            <a id="logout-btn" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>로그아웃</span></a>
                        </div>
                    </div>
                </article>
                <article class="gi-home-setting-article gi-hidden slide-drop-down">
                    <label class="gi-row-100">
                        <select class="gi-select" style="border: 1px solid #a7a7a7 !important; border-radius: 8px;">
                            <option>Language</option>
                            <option value="en">English</option>
                            <option value="mo">Монгол хэл</option>
                            <option value="ko">한국어</option>
                        </select>
                    </label>
                </article>

                <div class="gi-row-100 gi-col-6 gi-margin-top-5 search-menu-container">
                    <div class="gi-row-90 gi-col-60 gi-flex gi-flex-center search-menu-area">
                        <img id="search" class="gi-search-icon-image" src="/common/img/search.svg" alt="user image"/>
                        <input data-field="search_menu_name" id="search_menu_name" name="search_menu_name" class="gi-input" autocomplete="off" placeholder="Search" style="font-size:0.8rem"/>
                    </div>
                    <div class="gi-row-100 gi-search-menu-result-area"></div>
                </div>

                <div class="gi-row-100 gi-col-70" id="side_nav_menu_container">
                    <ul class="gi-row-98 gi-col-100 gi-overflow gi-ul" id="side_nav_menu"></ul>
                </div>
                <div class="gi-row-100 gi-col-auto gi-margin-top-5 scroll-check-icon">
                    <i class="fa-solid fa-beat-fade fa-angles-down"></i>
                </div>
            </nav>
            <section id="gi-content-title-area" class="gi-main-content-title gi-hidden"></section>
            <section id="gi-road-content" class="gi-main-content gi-col-100 gi-row-100 gi-flex gi-side-nav-toggle expand" data-animation="false" data-side-nav-toggle-area></section>
        </main>
    </body>
</html>
<article id="commonTag">
    <div class="confirm"></div>
    <div class="alertPopupBody"></div>
    <div class="PopupBody"></div>
    <div class="showMessage"></div>
    <div id="loadingScreenBody" class="">
        <div id="screenBody" class=""></div>
    </div>
    <div id="formUtil_fileUpload"></div>
    <div id="formUtil_uncutFileUpload"></div>
    <div id="giDatepickerBody"></div>
</article>
<script>
    new loadToScript();
    let formUtil = new FormUtility();
    var commonTag = new CommonTag();
    var changedHomeType = true;
    layoutInit();
    function layoutInit() {
        layoutClickEvent();
        sideNaveOpenCloseEvent();
    }
    function layoutClickEvent(){
        /**
         * NOTE: 프로필 사이드네비 OPEN
         * */
        $(".side-nav-profile-trigger").on("click", function (e) {
            $(".dropdown-menu").stop(true, true).slideToggle(150).css("display", "flex");
            $(".side-nav-profile-dropdown").toggleClass("active");
            $(".side-nav-profile-trigger").toggleClass("active");
        });

        /**
         * NOTE: 로그아웃 버튼 이벤트
         */
        $("#logout-btn").off().on("click",function(){
            $("body").removeClass('animate-content-end');
            setTimeout(function(){
                $("body").addClass('animate-content-start');
                window.location.href = "/api/v1/auth/logout";
            });
        });
    }

    /**
     * NOTE: 메뉴바 OPEN,CLOSE EVENT
     */
    function sideNaveOpenCloseEvent(){
        let giSideNavToggleButtonArea =$(".gi-side-nav-toggle-button-area");
        /**
         * NOTE: BTN HOVER EVENT
         */
        giSideNavToggleButtonArea.hover(
            function () {
                $(this).find("i").addClass("fa-beat-fade"); // hover 시 fa-fade 클래스 추가
            },
            function () {
                $(this).find("i").removeClass("fa-beat-fade"); // hover 해제 시 fa-fade 클래스 제거
            }
        );

        giSideNavToggleButtonArea.on("click", function (){
            let $toggleButton = $(this);

            if($toggleButton.hasClass("collapsed")){
                $toggleButton.removeClass("collapsed");
                $(".main-nav-menu").removeClass("visible");
                $(".gi-main-nav-logo-area").removeClass("visible");
                $(".gi-side-nav").removeClass("collapsed").addClass("expand");
            } else {
                $toggleButton.addClass("collapsed");
                $(".main-nav-menu").addClass("visible");
                $(".gi-main-nav-logo-area").addClass("visible");
                $(".gi-side-nav").removeClass("expand").addClass("collapsed");
            }

            let mainArea = $("[data-side-nav-toggle-area]");

            // sideNav, mainArea handling
            mainArea.each(function (){
                if($(this).hasClass("expand")){
                    $(this).removeClass("expand");
                    $(this).addClass("collapsed");
                } else {
                    $(this).removeClass("collapsed");
                    $(this).addClass("expand");
                }
            });

            // popup area handling
            $("#gi-search-popup").toggleClass("gi-row-84-important");
        });
    }
</script>