<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.siteconfig.CommonSiteConfigMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.siteconfig.CommonSiteConfig">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY system_create_date DESC )AS no,
                config_group_id,
                config_key,
                config_value,
                description,
                use_yn,
                system_create_date,
                system_create_userid,
                system_update_date,
                system_update_userid
            FROM COMMON_SITE_CONFIG
            <where>

                <if test="config_group_id != null and config_group_id != ''">AND config_group_id = #{config_group_id}</if>
                <if test="config_key != null and config_key != ''">AND config_key = #{config_key}</if>
                <if test="config_value != null and config_value != ''">AND config_value = #{config_value}</if>
                <if test="description != null and description != ''">AND description = #{description}</if>
                <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
                <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
                <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
                <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
                <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>

                <if test="_config_group_id != null and _config_group_id != ''">AND config_group_id LIKE CONCAT('%', #{_config_group_id}, '%')</if>
                <if test="_config_key != null and _config_key != ''">AND config_key LIKE CONCAT('%', #{_config_key}, '%')</if>
                <if test="_config_value != null and _config_value != ''">AND config_value LIKE CONCAT('%', #{_config_value}, '%')</if>
                <if test="_description != null and _description != ''">AND description LIKE CONCAT('%', #{_description}, '%')</if>
                <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
                <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
                <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
                <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
                <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM COMMON_SITE_CONFIG
        <where>
            
            <if test="config_group_id != null and config_group_id != ''">AND config_group_id = #{config_group_id}</if>
            <if test="config_key != null and config_key != ''">AND config_key = #{config_key}</if>
            <if test="config_value != null and config_value != ''">AND config_value = #{config_value}</if>
            <if test="description != null and description != ''">AND description = #{description}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_config_group_id != null and _config_group_id != ''">AND config_group_id LIKE CONCAT('%', #{_config_group_id}, '%')</if>
            <if test="_config_key != null and _config_key != ''">AND config_key LIKE CONCAT('%', #{_config_key}, '%')</if>
            <if test="_config_value != null and _config_value != ''">AND config_value LIKE CONCAT('%', #{_config_value}, '%')</if>
            <if test="_description != null and _description != ''">AND description LIKE CONCAT('%', #{_description}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.siteconfig.CommonSiteConfig">
        SELECT
            
            config_group_id,
            config_key,
            config_value,
            description,
            use_yn,
            system_create_date,
            system_create_userid,
            system_update_date,
            system_update_userid
        FROM COMMON_SITE_CONFIG
        <where>
            
            <if test="config_group_id != null and config_group_id != ''">AND config_group_id = #{config_group_id}</if>
            <if test="config_key != null and config_key != ''">AND config_key = #{config_key}</if>
            <if test="config_value != null and config_value != ''">AND config_value = #{config_value}</if>
            <if test="description != null and description != ''">AND description = #{description}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_config_group_id != null and _config_group_id != ''">AND config_group_id LIKE CONCAT('%', #{_config_group_id}, '%')</if>
            <if test="_config_key != null and _config_key != ''">AND config_key LIKE CONCAT('%', #{_config_key}, '%')</if>
            <if test="_config_value != null and _config_value != ''">AND config_value LIKE CONCAT('%', #{_config_value}, '%')</if>
            <if test="_description != null and _description != ''">AND description LIKE CONCAT('%', #{_description}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO COMMON_SITE_CONFIG(
            
             config_group_id 
            , config_key 
            , config_value 
            , use_yn 
            , system_create_date 
            , system_create_userid 
            
            <if test="description != null">, description</if>
            <if test="system_update_date != null">, system_update_date</if>
            <if test="system_update_userid != null">, system_update_userid</if>
        )
        VALUES(
            
             #{config_group_id}
            , #{config_key}
            , #{config_value}
            , #{use_yn}
            , #{system_create_date}
            , #{system_create_userid}
            
            <if test="description != null">, #{description}</if>
            <if test="system_update_date != null">, #{system_update_date}</if>
            <if test="system_update_userid != null">, #{system_update_userid}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM COMMON_SITE_CONFIG
        <where>
            
            AND config_key = #{config_key}
            
            <if test="config_group_id != null">AND config_group_id = #{config_group_id}</if>
            <if test="config_value != null">AND config_value = #{config_value}</if>
            <if test="description != null">AND description = #{description}</if>
            <if test="use_yn != null">AND use_yn = #{use_yn}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">AND system_update_userid = #{system_update_userid}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE COMMON_SITE_CONFIG
        <set>
            
            <if test="config_group_id != null">,config_group_id = #{config_group_id}</if>
            <if test="config_value != null">,config_value = #{config_value}</if>
            <if test="description != null">,description = #{description}</if>
            <if test="use_yn != null">,use_yn = #{use_yn}</if>
            <if test="system_create_date != null">,system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">,system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">,system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">,system_update_userid = #{system_update_userid}</if>
        </set>
        <where>
            AND config_key = #{config_key}
        </where>
    </update>
</mapper>