<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.codegroup.CommonCodeGroupMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                system_create_date DESC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.codegroup.CommonCodeGroup">
        SELECT
            
            group_id, 
            group_name, 
            system_create_date, 
            system_create_userid, 
            system_update_date, 
            system_update_userid, 
            use_yn, 
            comment 
        FROM COMMON_CODE_GROUP
        <where>
            
            <if test="group_id != null and group_id != ''">AND group_id = #{group_id}</if>
            <if test="group_name != null and group_name != ''">AND group_name = #{group_name}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="comment != null and comment != ''">AND comment = #{comment}</if>
            
            <if test="_group_id != null and _group_id != ''">AND group_id LIKE CONCAT('%', #{_group_id}, '%')</if>
            <if test="_group_name != null and _group_name != ''">AND group_name LIKE CONCAT('%', #{_group_name}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_comment != null and _comment != ''">AND comment LIKE CONCAT('%', #{_comment}, '%')</if>
        </where>
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET ((#{page_no} - 1) * #{row_range})
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM COMMON_CODE_GROUP
        <where>
            
            <if test="group_id != null and group_id != ''">AND group_id = #{group_id}</if>
            <if test="group_name != null and group_name != ''">AND group_name = #{group_name}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="comment != null and comment != ''">AND comment = #{comment}</if>
            
            <if test="_group_id != null and _group_id != ''">AND group_id LIKE CONCAT('%', #{_group_id}, '%')</if>
            <if test="_group_name != null and _group_name != ''">AND group_name LIKE CONCAT('%', #{_group_name}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_comment != null and _comment != ''">AND comment LIKE CONCAT('%', #{_comment}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.codegroup.CommonCodeGroup">
        SELECT
            
            group_id,
            group_name,
            system_create_date,
            system_create_userid,
            system_update_date,
            system_update_userid,
            use_yn,
            comment
        FROM COMMON_CODE_GROUP
        <where>
            
            <if test="group_id != null and group_id != ''">AND group_id = #{group_id}</if>
            <if test="group_name != null and group_name != ''">AND group_name = #{group_name}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="comment != null and comment != ''">AND comment = #{comment}</if>
            
            <if test="_group_id != null and _group_id != ''">AND group_id LIKE CONCAT('%', #{_group_id}, '%')</if>
            <if test="_group_name != null and _group_name != ''">AND group_name LIKE CONCAT('%', #{_group_name}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_comment != null and _comment != ''">AND comment LIKE CONCAT('%', #{_comment}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO COMMON_CODE_GROUP(
            
             group_id 
            
            <if test="group_name != null">, group_name</if>
            <if test="system_create_date != null">, system_create_date</if>
            <if test="system_create_userid != null">, system_create_userid</if>
            <if test="system_update_date != null">, system_update_date</if>
            <if test="system_update_userid != null">, system_update_userid</if>
            <if test="use_yn != null">, use_yn</if>
            <if test="comment != null">, comment</if>
        )
        VALUES(
            
             #{group_id}
            
            <if test="group_name != null">, #{group_name}</if>
            <if test="system_create_date != null">, #{system_create_date}</if>
            <if test="system_create_userid != null">, #{system_create_userid}</if>
            <if test="system_update_date != null">, #{system_update_date}</if>
            <if test="system_update_userid != null">, #{system_update_userid}</if>
            <if test="use_yn != null">, #{use_yn}</if>
            <if test="comment != null">, #{comment}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM COMMON_CODE_GROUP
        <where>
            
            AND group_id = #{group_id}
            
            <if test="group_name != null">AND group_name = #{group_name}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">AND system_update_userid = #{system_update_userid}</if>
            <if test="use_yn != null">AND use_yn = #{use_yn}</if>
            <if test="comment != null">AND comment = #{comment}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE COMMON_CODE_GROUP
        <set>
            
            <if test="group_name != null">,group_name = #{group_name}</if>
            <if test="system_create_date != null">,system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">,system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">,system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">,system_update_userid = #{system_update_userid}</if>
            <if test="use_yn != null">,use_yn = #{use_yn}</if>
            <if test="comment != null">,comment = #{comment}</if>
        </set>
        <where>
            
            AND group_id = #{group_id}
        </where>
    </update>
</mapper>