<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.icon.CommonIconMapper">

    <select id="SELECT_PAGE" resultType="com.vims.common.icon.CommonIcon">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY icon_class DESC )AS no,
                
                icon_code, 
                icon_name, 
                icon_class 
            FROM COMMON_ICON
            <where>
                
                <if test="icon_code != null and icon_code != ''">AND icon_code = #{icon_code}</if>
                <if test="icon_name != null and icon_name != ''">AND icon_name = #{icon_name}</if>
                <if test="icon_class != null and icon_class != ''">AND icon_class = #{icon_class}</if>
                
                <if test="_icon_code != null and _icon_code != ''">AND icon_code LIKE CONCAT('%', #{_icon_code}, '%')</if>
                <if test="_icon_name != null and _icon_name != ''">AND icon_name LIKE CONCAT('%', #{_icon_name}, '%')</if>
                <if test="_icon_class != null and _icon_class != ''">AND icon_class LIKE CONCAT('%', #{_icon_class}, '%')</if>
            </where>
        ) AS sub
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM COMMON_ICON
        <where>
            
            <if test="icon_code != null and icon_code != ''">AND icon_code = #{icon_code}</if>
            <if test="icon_name != null and icon_name != ''">AND icon_name = #{icon_name}</if>
            <if test="icon_class != null and icon_class != ''">AND icon_class = #{icon_class}</if>
            
            <if test="_icon_code != null and _icon_code != ''">AND icon_code LIKE CONCAT('%', #{_icon_code}, '%')</if>
            <if test="_icon_name != null and _icon_name != ''">AND icon_name LIKE CONCAT('%', #{_icon_name}, '%')</if>
            <if test="_icon_class != null and _icon_class != ''">AND icon_class LIKE CONCAT('%', #{_icon_class}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.icon.CommonIcon">
        SELECT
            
            icon_code,
            icon_name,
            icon_class
        FROM COMMON_ICON
        <where>
            
            <if test="icon_code != null and icon_code != ''">AND icon_code = #{icon_code}</if>
            <if test="icon_name != null and icon_name != ''">AND icon_name = #{icon_name}</if>
            <if test="icon_class != null and icon_class != ''">AND icon_class = #{icon_class}</if>
            
            <if test="_icon_code != null and _icon_code != ''">AND icon_code LIKE CONCAT('%', #{_icon_code}, '%')</if>
            <if test="_icon_name != null and _icon_name != ''">AND icon_name LIKE CONCAT('%', #{_icon_name}, '%')</if>
            <if test="_icon_class != null and _icon_class != ''">AND icon_class LIKE CONCAT('%', #{_icon_class}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO COMMON_ICON(
            
            
            <if test="icon_code != null">, icon_code</if>
            <if test="icon_name != null">, icon_name</if>
            <if test="icon_class != null">, icon_class</if>
        )
        VALUES(
            
            
            <if test="icon_code != null">, #{icon_code}</if>
            <if test="icon_name != null">, #{icon_name}</if>
            <if test="icon_class != null">, #{icon_class}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM COMMON_ICON
        <where>
            
            
            <if test="icon_code != null">AND icon_code = #{icon_code}</if>
            <if test="icon_name != null">AND icon_name = #{icon_name}</if>
            <if test="icon_class != null">AND icon_class = #{icon_class}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE COMMON_ICON
        <set>
            
            <if test="icon_code != null and icon_code != '' ">,icon_code = #{icon_code}</if>
            <if test="icon_name != null and icon_name != '' ">,icon_name = #{icon_name}</if>
            <if test="icon_class != null and icon_class != '' ">,icon_class = #{icon_class}</if>
        </set>
        <where>
            
        </where>
    </update>
</mapper>