<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.usergroup.CommonUserGroupMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_id != '' and sort_order != null and sort_order != ''">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                system_create_date DESC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.usergroup.CommonUserGroup">
        SELECT
            row_number() over ()AS no,
            id,
            group_id,
            user_email,
            user_id,
            office_code,
            FN_GET_OFFICE_NAME(office_code) office_name,
            system_create_date,
            system_create_userid,
            system_update_date,
            system_update_userid
        FROM COMMON_USER_GROUP
        <where>
            <if test="id != null and id != ''">AND id=#{id}</if>
            <if test="group_id != null and group_id != ''">AND group_id=#{group_id}</if>
            <if test="user_email != null and user_email != ''">AND user_email=#{user_email}</if>
            <if test="user_id != null and user_id != ''">AND user_id=#{user_id}</if>
            <if test="office_code != null and office_code != ''">AND office_code=#{office_code}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date=#{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid=#{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date=#{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid=#{system_update_userid}</if>

            <if test="_group_id != null and _group_id != ''">AND group_id LIKE CONCAT('%', #{_group_id}, '%')</if>
            <if test="_user_email != null and _user_email != ''">AND user_email LIKE CONCAT('%', #{_user_email}, '%')</if>
            <if test="_user_id != null and _user_id != ''">AND user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
            <if test="_office_code != null and _office_code != ''">AND office_code LIKE CONCAT('%', #{_office_code}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*)/#{row_range}) FROM COMMON_USER_GROUP
        <where>
            <if test="id != null and id != ''">AND id=#{id}</if>
            <if test="group_id != null and group_id != ''">AND group_id=#{group_id}</if>
            <if test="user_email != null and user_email != ''">AND user_email=#{user_email}</if>
            <if test="user_id != null and user_id != ''">AND user_id=#{user_id}</if>
            <if test="office_code != null and office_code != ''">AND office_code=#{office_code}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date=#{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid=#{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date=#{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid=#{system_update_userid}</if>

            <if test="_group_id != null and _group_id != ''">AND group_id LIKE CONCAT('%', #{_group_id}, '%')</if>
            <if test="_user_email != null and _user_email != ''">AND user_email LIKE CONCAT('%', #{_user_email}, '%')</if>
            <if test="_user_id != null and _user_id != ''">AND user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
            <if test="_office_code != null and _office_code != ''">AND office_code LIKE CONCAT('%', #{_office_code}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.usergroup.CommonUserGroup">
        SELECT
        id,
        group_id,
        (SELECT group_name FROM COMMON_GROUP b where b.group_id = a.group_id) as group_name,
        (SELECT user_name FROM COMMON_USER c where c.id = a.id) as user_name,
        user_email,
        user_id,
        office_code,
        system_create_date,
        system_create_userid,
        system_update_date,
        system_update_userid
        FROM COMMON_USER_GROUP a
        <where>
            <if test="id != null and id != ''">AND id=#{id}</if>
            <if test="group_id != null and group_id != ''">AND group_id=#{group_id}</if>
            <if test="user_email != null and user_email != ''">AND user_email=#{user_email}</if>
            <if test="user_id != null and user_id != ''">AND user_id=#{user_id}</if>
            <if test="office_code != null and office_code != ''">AND office_code=#{office_code}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date=#{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid=#{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date=#{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid=#{system_update_userid}</if>

            <if test="_id != null and _id != ''">AND id LIKE CONCAT('%', #{_id}, '%')</if>
            <if test="_group_id != null and _group_id != ''">AND group_id LIKE CONCAT('%', #{_group_id}, '%')</if>
            <if test="_user_email != null and _user_email != ''">AND user_email LIKE CONCAT('%', #{_user_email}, '%')</if>
            <if test="_user_id != null and _user_id != ''">AND user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
            <if test="_office_code != null and _office_code != ''">AND office_code LIKE CONCAT('%', #{_office_code}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO COMMON_USER_GROUP(
        id
        ,group_id
        , user_email
        , user_id
        , office_code
        , system_create_date
        , system_create_userid
        <if test="system_update_date != null">, system_update_date</if>
        <if test="system_update_userid != null">, system_update_userid</if>
        )
        VALUES(
        #{id}
        ,#{group_id}
        , #{user_email}
        , #{user_id}
        , #{office_code}
        , NOW()
        , #{system_create_userid}
        <if test="system_update_date != null">, #{system_update_date}</if>
        <if test="system_update_userid != null">, #{system_update_userid}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM COMMON_USER_GROUP
        <where>
            AND id = #{id}
            AND group_id = #{group_id}
            <if test="user_email != null">AND user_email = #{user_email}</if>
            <if test="user_id != null">AND user_id = #{user_id}</if>
            <if test="office_code != null">AND office_code = #{office_code}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">AND system_update_userid = #{system_update_userid}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE COMMON_USER_GROUP
        <set>
            <if test="user_email != null">user_email = #{user_email},</if>
            <if test="user_id != null">user_id=#{user_id},</if>
            <if test="office_code != null">office_code=#{office_code},</if>
            <if test="system_create_date != null">system_create_date=#{system_create_date},</if>
            <if test="system_create_userid != null">system_create_userid=#{system_create_userid},</if>
            <if test="system_update_date != null">system_update_date=#{system_update_date},</if>
            <if test="system_update_userid != null">system_update_userid=#{system_update_userid},</if>
        </set>
        <where>
            id = #{id}
            AND group_id = #{group_id}
        </where>
    </update>

    <update id="INSERT_OR_UPDATE">
        INSERT INTO COMMON_USER_GROUP (
        id,
        group_id,
        user_email,
        user_id,
        office_code,
        system_create_date,
        system_create_userid,
        system_update_date,
        system_update_userid
        ) VALUES (
        #{id},
        #{group_id},
        #{user_email},
        #{user_id},
        #{office_code},
        NOW(),
        #{system_create_userid},
        <if test="system_update_date != null">#{system_update_date},</if>
        <if test="system_update_date == null">NULL,</if>
        <if test="system_update_userid != null">#{system_update_userid}</if>
        <if test="system_update_userid == null">NULL</if>
        )
        ON DUPLICATE KEY UPDATE
        user_email = VALUES(user_email),
        user_id = VALUES(user_id),
        office_code = VALUES(office_code),
        system_update_date = NOW(),
        system_update_userid = VALUES(system_update_userid)
    </update>

    <select id="SELECT_BY_GROUP_ID_LIST" resultType="com.vims.common.usergroup.CommonUserGroup">
        SELECT
        id,
        group_id,
        (SELECT group_name FROM COMMON_GROUP b where b.group_id = a.group_id) as group_name,
        (SELECT user_name FROM COMMON_USER c where c.id = a.id) as user_name,
        user_email,
        user_id,
        office_code,
        system_create_date,
        system_create_userid,
        system_update_date,
        system_update_userid
        FROM COMMON_USER_GROUP a
        WHERE group_id IN
        <foreach collection="targetGroups" item="group"  index="index" open="(" separator="," close=")">
            #{group}
        </foreach>
    </select>

    <select id="SELECT_JOIN_COMMON_USER_GROUP_PAGE" resultType="com.vims.common.usergroup.CommonUserGroup">
        SELECT
        row_number() over ()AS no,
        a.id,
        a.email AS user_email,
        a.user_id,
        a.office_code,
        FN_GET_OFFICE_NAME(a.office_code) AS office_name
        FROM COMMON_USER a
        <where>
            NOT EXISTS (
            SELECT 1
            FROM COMMON_USER_GROUP b
            WHERE a.user_id = b.user_id
            AND b.group_id = #{group_id}
            )
            <if test="id != null and id != ''">AND a.id=#{id}</if>
            <if test="user_email != null and user_email != ''">AND a.email=#{user_email}</if>
            <if test="user_id != null and user_id != ''">AND a.user_id=#{user_id}</if>
            <if test="office_code != null and office_code != ''">AND a.office_code=#{office_code}</if>

            <if test="_id != null and _id != ''">AND a.id LIKE CONCAT('%', #{_id}, '%')</if>
            <if test="_user_email != null and _user_email != ''">AND a.email LIKE CONCAT('%', #{_user_email}, '%')</if>
            <if test="_user_id != null and _user_id != ''">AND a.user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
            <if test="_office_code != null and _office_code != ''">AND a.office_code LIKE CONCAT('%', #{_office_code}, '%')</if>
        </where>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_JOIN_COMMON_USER_GROUP_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*)/#{row_range}) FROM COMMON_USER a
        <where>
            NOT EXISTS (
            SELECT 1
            FROM COMMON_USER_GROUP b
            WHERE a.user_id = b.user_id
            AND b.group_id = #{group_id}
            )
            <if test="id != null and id != ''">AND a.id=#{id}</if>
            <if test="user_email != null and user_email != ''">AND a.email=#{user_email}</if>
            <if test="user_id != null and user_id != ''">AND a.user_id=#{user_id}</if>
            <if test="office_code != null and office_code != ''">AND a.office_code=#{office_code}</if>

            <if test="_id != null and _id != ''">AND a.id LIKE CONCAT('%', #{_id}, '%')</if>
            <if test="_user_email != null and _user_email != ''">AND a.email LIKE CONCAT('%', #{_user_email}, '%')</if>
            <if test="_user_id != null and _user_id != ''">AND a.user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
            <if test="_office_code != null and _office_code != ''">AND a.office_code LIKE CONCAT('%', #{_office_code}, '%')</if>
        </where>
    </select>

</mapper>
