<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.accessgroupmenu.CommonAccessGroupMenuMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.accessgroupmenu.CommonAccessGroupMenu">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY system_create_date DESC )AS no,
                
                menu_code, 
                access_rights_group_id, 
                system_create_date, 
                system_create_userid, 
                system_update_date, 
                system_update_userid 
            FROM COMMON_ACCESS_GROUP_MENU
            <where>
                
                <if test="menu_code != null and menu_code != ''">AND menu_code = #{menu_code}</if>
                <if test="access_rights_group_id != null and access_rights_group_id != ''">AND access_rights_group_id = #{access_rights_group_id}</if>
                <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
                <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
                <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
                <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
                
                <if test="_menu_code != null and _menu_code != ''">AND menu_code LIKE CONCAT('%', #{_menu_code}, '%')</if>
                <if test="_access_rights_group_id != null and _access_rights_group_id != ''">AND access_rights_group_id LIKE CONCAT('%', #{_access_rights_group_id}, '%')</if>
                <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
                <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
                <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
                <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM COMMON_ACCESS_GROUP_MENU
        <where>
            
            <if test="menu_code != null and menu_code != ''">AND menu_code = #{menu_code}</if>
            <if test="access_rights_group_id != null and access_rights_group_id != ''">AND access_rights_group_id = #{access_rights_group_id}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_menu_code != null and _menu_code != ''">AND menu_code LIKE CONCAT('%', #{_menu_code}, '%')</if>
            <if test="_access_rights_group_id != null and _access_rights_group_id != ''">AND access_rights_group_id LIKE CONCAT('%', #{_access_rights_group_id}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.accessgroupmenu.CommonAccessGroupMenu">
        SELECT
            
            menu_code,
            access_rights_group_id,
            system_create_date,
            system_create_userid,
            system_update_date,
            system_update_userid
        FROM COMMON_ACCESS_GROUP_MENU
        <where>
            
            <if test="menu_code != null and menu_code != ''">AND menu_code = #{menu_code}</if>
            <if test="access_rights_group_id != null and access_rights_group_id != ''">AND access_rights_group_id = #{access_rights_group_id}</if>
            <if test="system_create_date != null and system_create_date != ''">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null and system_update_date != ''">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_menu_code != null and _menu_code != ''">AND menu_code LIKE CONCAT('%', #{_menu_code}, '%')</if>
            <if test="_access_rights_group_id != null and _access_rights_group_id != ''">AND access_rights_group_id LIKE CONCAT('%', #{_access_rights_group_id}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO COMMON_ACCESS_GROUP_MENU(
            
             menu_code 
            , access_rights_group_id 
            
            <if test="system_create_date != null">, system_create_date</if>
            <if test="system_create_userid != null">, system_create_userid</if>
            <if test="system_update_date != null">, system_update_date</if>
            <if test="system_update_userid != null">, system_update_userid</if>
        )
        VALUES(
            
             #{menu_code}
            , #{access_rights_group_id}
            
            <if test="system_create_date != null">, #{system_create_date}</if>
            <if test="system_create_userid != null">, #{system_create_userid}</if>
            <if test="system_update_date != null">, #{system_update_date}</if>
            <if test="system_update_userid != null">, #{system_update_userid}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM COMMON_ACCESS_GROUP_MENU
        <where>
            
             menu_code = #{menu_code}
            AND access_rights_group_id = #{access_rights_group_id}
            
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">AND system_update_userid = #{system_update_userid}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE COMMON_ACCESS_GROUP_MENU
        <set>
            
            <if test="system_create_date != null">,system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">,system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">,system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">,system_update_userid = #{system_update_userid}</if>
        </set>
        <where>
            
             menu_code = #{menu_code}
            AND access_rights_group_id = #{access_rights_group_id}
        </where>
    </update>
</mapper>