<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="com.system.common.config.LowerCaseMapTypeHandler" javaType="java.util.Map"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.system.common.interceptor.QueryTypeInterceptor"/>
    </plugins>
</configuration>
