<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.auth.token.TokenMapper">
    <select id="SELECT_TOKEN" resultType="com.system.auth.domain.Token">
        SELECT
            T.*
        FROM
            TOKEN T
        INNER JOIN
            COMMON_USER U ON T.user_id = U.id
        WHERE (T.expired = 0 OR T.revoked = 0) AND T.id = 1
    </select>
    <insert id="INSERT_TOKEN" parameterType="com.system.auth.domain.Token">
        INSERT INTO TOKEN(
            id,
            expired,
            revoked,
            user_id,
            token,
            token_type
        )VALUES(
            #{id},
            #{expired},
            #{revoked},
            #{auth_user.id},
            #{token},
            #{token_type}
        )
    </insert>
</mapper>